<!DOCTYPE html>
<html lang="uk">

<head>
  <meta charset="UTF-8">
  <title>
    <%= title %>
  </title>
</head>

<body>
  <h1>
    <%= article.title %>
  </h1>
  <p>
    <%= article.content %>
  </p>
  <br>
  <a href="/articles">Повернутись до списку статей</a>
</body>

</html>