doctype html
html(lang="uk")
  head
    title= title
    link(rel="stylesheet" href="/css/style.css")
  body
    h1 Навігація по сайту
    ul
      li
        a(href="/users") Перейти до списку користувачів (PUG)
      li
        a(href="/articles") Перейти до списку статей (EJS)