doctype html
html(lang="uk")
  head
    title= title
    link(rel="stylesheet" href="/css/style.css")
  body
    h1= title
    ul
      each user in users
        li
          a(href=`/users/${user.id}`)= user.name
          |  - #{user.email}
    a(href="/") Повернутись на головну