doctype html
html(lang="uk")
  head
    title= title
    link(rel="stylesheet" href="/css/style.css")
  body
    h1= user.name
    p ID: #{user.id}
    p Email: #{user.email}
    a(href="/users") Повернутись до списку користувачів